/* Hover on links */

a:hover {
    color: #60ff00 !important;
    /* ça marche pas sur le menu, à voir doc bootstrap (on verra demain) */
    /* Hover Responsive */
}

a:focus {
    color: #60ff00 !important;
}

a:active {
    color: #60ff00 !important;
}

/******************** carousel ***************/

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-image: url("https://i.ibb.co/j5x1jLT/Abstract-Background-B-W.jpg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: none;
    font-family: 'Srisakdi', cursive;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    background-size: 100%
}

element.style {
    width: 70vh;
}

/********************** Modif sur la page index *************/

@media (hover: hover) {
    ...
}

#botomarge {
    padding: 5%;
}

.searchnav {
    margin-left: 100px;
}

.navbar-toggler {
    margin-top: 4px;
}

#ulindex {
    margin-right: 2vh;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

#navnav {
    background-image: url("https://i.ibb.co/j5x1jLT/Abstract-Background-B-W.jpg");
}

#footfoot {
    background-image: url("https://i.ibb.co/j5x1jLT/Abstract-Background-B-W.jpg");
}

#ajustcard {
    margin-top: 8%;
}

/****************** Modif sur la page Contact *********************/

#sendcontact {
    margin-top: 10px;
}

#aboutus {
    margin-top: 100px;
    margin-bottom: 100px;
}

#contactus {
    margin-top: 100px;
}

#photoprofil {
    border-radius: 10px;
    margin-top: 60px;
    max-width: 100%;
    height: auto;
}

#contact {
    margin-top: 10%;
    margin-bottom: 10%;
}

#encadre {
    background-color: white;
    opacity: 0.72;
    padding: 20px;
}

#encadre:hover {
    opacity: 1;
}

/* Products CSS */

.dropdown {
    margin-top: 2em;
}

.test {
    margin-top: 100em;
}

#dropdownProduct {
    margin-top: 5em;
    background-color: hsla(15, 20%, 50%, 45%);
    border-radius: 5em;
    border: 2px solid limegreen;
}

#dropdownProduct h2 {
    font-size: 2em;
}

#titrePageProducts {
    padding-top: 2em;
}

.card-deck {
    margin-top: 2em;
}

#cardProducts {
    border: 5px solid hsl(15, 20%, 50%);
    border-radius: 5px;
}

.card-img-overlay {
    margin-left: 7em;
}

.lemmeCenter {
    display: flex;
    max-width: 100%;
    width: auto;
    align-items: center;
}

.marged-top {
    margin-top: 110px;
}

/*-------------------- Media queries  --------------------------------*/

.paddingsearch {
    padding-top: 10px;
}

.writenav {
    margin-top: 3px;
}

li {
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 1024px) {
    .navbar-collapse {
        text-align: right;
    }
}

@media screen and (max-width: 1024px) {
    .buttonright {
        float: right;
    }
}

@media screen and (max-width: 1024px) {
    .paddingsearch {
        float: right;
    }
}
/****************** Modif sur la page About me *********************/
#aboutme {
    margin-top: 10%;
    font-size: 400%;
}
.buttonctc {
    padding: 1%;
    margin-bottom: 2%;
    margin-left: 14px;
}
.textcard {
    margin-top: 2%;
    margin-left: 14px;
}